{% extends "personal/header.html" %}

{% block content %}

<h1>O firmie</h1>

<h4>
<p>Firma Przedsiębiorstwo Informatyczne Ewa Kardasz-Wong istnieje na rynku informatycznym od 2001r. Wieloletnie doświadczenie związane z serwisowaniem i dostawą sprzętu komputerowego i peryferii,  obsługą  aplikacji  baz danych gwarantują należyte kompetencje, które chętnie wykorzystamy dla Państwa. Gwarantujemy, że potrafimy rozwiązać każdy Państwa problem związany z niepoprawnym działaniem: sprzętu komputerowego, lokalnej sieci komputerowej jak i oprogramowania. Posiadamy wiedzę merytoryczną związaną z zagadnieniami występującymi w jednostkach administracji samorządowej.</p>

<p>Nie jest nam obcy sposób ewidencji ludności, gruntów, nieruchomości i lasów, naliczanie i windykacja podatków, księgowość budżetowa, najnowsze przepisy związane z płacami i ZUS. Wiedza ta jest konieczna dla poprawnego wdrożenia i serwisowania systemów informatycznych. </p>

<p>Od początku istnienia firma posiada autoryzację RADIX na wdrożenia i serwis oprogramowania.</p>

</h4>

{% endblock %}
