{% extends "personal/header.html" %}

{% block content %}

<h1>Nasza oferta</h1>

<h4>
<p>Jesteśmy firmą outsoucingową. Zapewniamy kompleksową obsługę informatyczną dla firm i urzędów. Również osób prywatnych. Wykonujemy zadania, których inni się nie podejmują. Jesteśmy otwarci na propozycje współpracy.</p>
<p>Oferujemy rozwiązania programowe firmy Radix dla Urzędów. Stosowane przez nas rozwiązania programowe oparte o Linux pozwalają na użycie zabezpieczeń natywnych dla tego Systemu Operacyjnego i kontroli dostępnej dzięki wielopoziomowości zabezpieczeń. Pozwala to również na osiąganie wysokiej wydajności serwerów opartych na systemie operacyjnym który jest ciągle udoskonalany.</p>
<p>Wdrażamy również rozwiązania oparte o popularny i powszechnie używany przez większość użytkowników system Windows firmy Microsoft, która jest monopolistą w rozwiązaniach dla oprogramowania biurowego i komputerów PC.</p>
<p>Oprogramowanie antywirusowe.</p>
<p>Konsultacje i doradztwo IT.</p>
</h4>

{% endblock %}
