{% extends "personal/header.html" %}

{% block content %}

<h1>O nas</h1>

<h4>
<p>Właścicielka – mgr inż. Ewa Kardasz-Wong, absolwentka Politechniki Poznańskiej (Wydział Elektryczny - Kierunek Informatyka) posiada bogate doświadczenie akademickie na poziomie dydaktyki  w zakresie wiedzy informatycznej oraz blisko 20-letnie doświadczenie w zawodzie informatyka. Ponadto kilka lat temu ukończyła studia podyplomowe na Uniwersytecie Ekonomicznym w Poznaniu na kierunku Finanse i Rachunkowość Budżetowa. Studia podyplomowe pomogły poszerzyć wiedzę dotyczącą finansów Jednostek Samorządu Terytorialnego i Jednostek Budżetowych, aby jeszcze efektywniej wdrażać i eksploatować oprogramowanie w sektorze budżetowym. Specjalistka w dziedzinie administracji bazami danych oraz wdrożeń software'u.</p>

<p>Mgr Wiesław Fryziak jest informatykiem z wieloletnim stażem i wieloletnim nauczycielem informatyki w różnych typach szkół. Specjalista w dziedzinie hardware'u oraz konfiguracji, konserwacji i obsługi systemu Linux.</p>

<p>Paweł Wong jest naszym najmłodszym współpracownikiem pracującym z nami od 2012 roku. Specjalizuje się z helpdesk'u, konserwacji oraz konfiguracji urządzeń sieciowych Cisco, administracji systemami opartymi na systemach z rodziny Windows oraz MAC OS X. Dodatkowo zajmuje się webdevelopmentem.</p>
</h4>

{% endblock %}
